body {
  padding: 2.5% 5%;
  font-size: 1.5em;
  text-align: center;
  user-select: none;
  background-color: #f0f0f0; /* Set the background color */
}

h1 {
  font-size: 2em;
  margin: 25px 0;
  color: #333; /* Set the color of the heading */
}

.button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 0 0.5em;
  border: 2px solid #007bff; /* Set border color */
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff; /* Set button background color */
  color: #fff; /* Set button text color */
  transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}
.button:hover {
  background-color: #0056b3; /* Change button background color on hover */
}

input[type="text"] {
  font-size: 1em;
  padding: 10px 20px;
  margin: 0.5em;
  border: 2px solid #007bff; /* Set border color */
  border-radius: 10px;
  text-align: center;
  transition: border-color 0.3s ease; /* Add transition for smoother hover effect */
}
input[type="text"]:hover {
  border-color: #0056b3; /* Change input border color on hover */
}
